.wrapper
  = render 'shared/header'

  %main.main
    .main__inner
      .main__inner__top
        .main__inner__top__title
          .main__inner__top__title__user
            = @user.name
          さんのお気に入り

      = render 'posts/post-item'
