.wrapper
  = render 'shared/header'


  %main.main
    .main__inner
      .main__inner__top
        .main__inner__top__title
          = "#{@user.name}さんの投稿"
      
        = render 'posts/post-item'

