.main__inner{
  margin: 0 250px;
  font-size: 18px;
  font-weight: 500;

  &__top{
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    display: block;
    height:100px;
    clear: both;
    margin-bottom:20px;

    &__title{
      display: inline-block;
      line-height: 100px;
      float:left;
      width: 50%;

      &__search{
        display: inline;
        color:#a9a9a9;
      }

      &__user{
        display: inline;
        color: #a9a9a9;
      }
    }
  
    &__post-btn{
      display: block;
      float:right;
      font-size: 14px;
      border-radius: 5px;
      margin: 25px 0;
      background: #1e90ff;
      cursor: pointer;

      .post-btn__text{
        padding:13px 30px;
        display: block;
        color:#ffffff;
      }
    }

    &__post-btn:hover{
      opacity: 0.9;
    }
  }

  &__contents:hover{
    background: #f9f9f9;
  }

  &__contents{
    clear: both;
    display: block;

    &__category{
      padding-top:10px;
      padding-left:10px;
      height:20px;

      &__box{
        display: inline-block;
        padding: 3px 3px;
        text-align: center;
        width:100px;
        border-radius: 20px;
        font-size:11px;
        color: #FFFFFFFF;
      }
    }

      &__date{
        float:right;
        color: #696969;
        font-size: 13px;
      }

    &__post{
      color: #696969;
      font-size: 13px;
      display: flex;
      border-bottom: 1px solid #dcdcdc;
      padding-right:20px;
      padding-left:10px;

      &__info{
       
        &__text{
          display: block;
          height:100px;
          width:760px;
          padding:20px 0 20px 0;
          max-height: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #696969;

        }

        &__user{
          height:30px;
          padding-bottom:10px;
          
          &__name{
            float:left;
            font-size:15px;
            display: inline-block;
            padding-right:14px;
            line-height: 30px;          
          }

          .link-btn:hover{
            opacity: 0.7;
          }

          &__menu{
            text-align: right;
            padding-right:20px;
            font-size: 13px;
          }
        }
      }
  
      &__image{
        display: right;
        // margin-right: auto;
        
        .post-image{
          margin-top:20px;
          display: inline-block;
          height: 150px;
          width: 170px;
          object-fit: cover;
        }
      }
    }
  }
}