.new-wrapper__main-show{
  background-color: #F5F5F5;
  height: 100%;
  margin: 0;

  &__inner{
    margin: 0 250px;
    padding: 10px 30px;
    background-color: white;
  }
  

  &__post-image{
    background-color: #f9f9f9;
    width: 100%;
    min-height: 350px;
    margin-top:20px;
    
    .show-image{
      width: 450px;
      height: 350px;
      display: block;
      margin: 0 auto;
      object-fit: contain;
    }
  }

  &__post-username{
    padding-left:100px;
    padding-top:20px;
  }
  
  &__post-text{
    margin:  auto 100px;
    height:auto;
    padding-top:20px;
  }

  .show-return-btn{
    display: block;
    text-align: center;
    background-color: red;
    margin: 0 auto;
    width: 15%;
  }

}

