.wrapper
  = render 'shared/header'

  %main.main
    .main__inner
      .main__inner__top
        .main__inner__top__title
          .main__inner__top__title__search
            = params[:search]
          で検索

        - if user_signed_in?
          .main__inner__top__post-btn
            =link_to '投稿する',new_post_path, class: 'post-btn__text'


    
      = render 'posts/post-item'
  .pagination
    = paginate @posts