html {
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
}


// post-categoryの色指定

.category1{
  background:#9fa09e;
}

.category2{
  background:#ffd700;
}

.category3{
  background:#1e90ff;
}

.category4{
  background:#008080;
}

// ページネーション
.pagination{
  display: block;
  text-align: center;
  margin: 50px 0; 
}

